doctype html 
html
  head
    title ABCD 
    block scripts
    block style 
  body
    nav#navbar
        ul 
            div#logo
                img(src="static/img/logof.webp")
                | ABCD 
            li #[a(href="/") Home ]
            li #[a(href="/") About]
            li #[a(href="/") services ]
            li #[a(href="/") class info]
            li #[a(href="/contact") contact Us ]

    block content
    footer#footer 
        | Copyright @ 2019 AnybodyCanDance.com | All Rights reserved
    