@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}
#logo{
    display: flex;
    color: rgb(155 89 89);
    font-size: 29px;
    align-items: center;
    margin: 0 14px;
}
#logo img{
    height: 55px;
  
}

#navbar {
    background-color: rgb(217 181 193);
    padding: 13px 14px;
    font-family: "Underdog", system-ui;

}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    color: rgb(155 89 89);
    text-decoration: none;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 30px;

}

#navbar li a:hover {
    color: black;
}

#introSection {

    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    font-family: "Underdog", system-ui;
    font-size: 65px;
    justify-content: center;
    align-items: center;
    background: center / cover no-repeat url("/static/bg.jpg");
    height: 425px;
    background-color: red;
}

#introSection div.small {
    font-size: 1.5rem;
    padding: 5px;
}

#sponsorsSection {
    height: 200px;
    background-color: #d8b7b7;
}

#missionSection {
    height: 326px;
    text-align: center;
    /* /* padding-top: 12px;  */
    width: 75%;
    margin: auto;
    /* background-color: lightblue; */
    font-family: "Underdog", system-ui;
}
#sponsorsSection h2 {
    font-family: "Underdog", system-ui;
    text-align: center;
    padding-top: 12px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 24%;
    margin: 23px 17px;
    height: 252px;
    /* align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
}
.card h3{
    text-align: center;
    margin: 15px 12px;
    /* padding: 0 10px; */
    font-family: Arial, Helvetica, sans-serif;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card img {
    height: inherit;
  padding : 13px 3px;
}
.card img{
    height:100px;
    padding: 13px 3px;
}
.card-content{
padding: 0 20px;
}
.card-content p{
    font-size: 20px;
}
#sponsors img{
    height: 93px;
    max-width: 1000px;
    margin: 10px;
}
.spImage{
    height: 80%;
    margin: 20px;
}


#footer {
    display: flex;
    color: white;
    height: 60px;
    background-color:black;
    justify-content: center;
    text-align: center;
    font-family: "Underdog", system-ui;
}