h1{
    /* text-align: center; */
    margin: 12px 0;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 9px;
    margin: 10px;
    border: 2px solid #7e7575;
    border-radius: 12px;
    outline: none;
}
.btn{
    margin: 10px;
    padding: 10px 48px;
    font-size: 1rem;
    border: 2px solid #5a4848;
    border-radius: 10px;
    background: #855582;
    color: white;
    outline: none;
}
.container{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    @import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
    font-family: "Underdog", system-ui;
}